{# templates/home.html.twig #}
{% extends 'base.html.twig' %}
{% block page_title %}
<<<<<<< HEAD

=======
>>>>>>> 9c7aea1adbc2c020aa59659c957688f86b023394
    <h1 class="centered-title">Product Management</h1>
{% endblock %}
{% block body %}
    <div class="sidebar">
        <a href="{{ path('app_product_index') }}">Products</a>
        <a href="{{ path('app_category_index') }}">Categories</a>

    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
